In [1]:
#pandas is a library which is used for mainly data analysis and data manuplation
#pandas library mailnly works on tabular data
#the mainly used data structures of pandas are series and DataFrame
#series is similar to single column of data while dataframe is colection of both rows and columns

In [2]:
import pandas

In [3]:
print(pandas.__version__)

2.2.3

In [4]:
#if we want to load or read data from excel----read_excel("file_location")
#if we want to load or read data from csv----read_csv("file_location)

In [5]:
import pandas as pd

In [6]:
#creating dataframe using dictionary
d1={"name":["harika","meghana","sitha"],"roll_no":[100,200,300],"cgpa":[9.0,9.6,9.7]}

In [7]:
d1

{'name': ['harika', 'meghana', 'sitha'],
 'roll_no': [100, 200, 300],
 'cgpa': [9.0, 9.6, 9.7]}

In [8]:
df1=pd.DataFrame(d1)

In [9]:
df1

      name  roll_no  cgpa
0   harika      100   9.0
1  meghana      200   9.6
2    sitha      300   9.7

In [10]:
#creating dataframe using list and tuple
l=[('abc',10,7.8),('def',8,8.9),('ghi',5,9.0)]
l

[('abc', 10, 7.8), ('def', 8, 8.9), ('ghi', 5, 9.0)]

In [11]:
df2=pd.DataFrame(l)
df2

     0   1    2
0  abc  10  7.8
1  def   8  8.9
2  ghi   5  9.0

In [12]:
d = pd.read_csv("C:\\Users\\sunka\\OneDrive\\Desktop\\Latest Covid-19 India Status.csv", encoding='utf-8')
df=pd.DataFrame(d)   #first the data will be stored in d and then we are creating dataframe

In [13]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [14]:
df.head()  #default return first 5 rows

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376

In [15]:
df.head(2)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364

In [16]:
df.tail()   #default returns last 5 rows

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [17]:
df.tail(10) #return last 10 rows

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [18]:
df.describe()  #display all the statistical information related to the data

,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
count,3.600000e+01,36.000000,3.600000e+01,36.000000,36.000000,36.000000,36.000000,3.600000e+01
mean,1.249975e+06,50.333333,1.235146e+06,14778.527778,0.005000,98.897222,1.097778,3.971861e+07
std,1.846038e+06,207.118048,1.820328e+06,27221.140636,0.026673,0.506854,0.494791,5.050913e+07
min,1.076600e+04,0.000000,1.063700e+04,4.000000,0.000000,97.410000,0.030000,6.600100e+04
25%,1.065430e+05,0.000000,1.055395e+05,1124.250000,0.000000,98.690000,0.840000,1.695473e+06
50%,6.140910e+05,1.500000,6.076750e+05,6551.000000,0.000000,98.935000,1.065000,2.410088e+07
75%,1.331951e+06,9.000000,1.322329e+06,14325.750000,0.000000,99.160000,1.310000,6.979986e+07
max,8.171048e+06,1233.000000,8.022276e+06,148558.000000,0.160000,99.970000,2.440000,2.315026e+08

In [19]:
df.shape  #display the number of rows and columns of the dataframe(consist of 9 columns and 36 rows)

(36, 9)

In [20]:
df[0:10:1]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.0,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.0,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.0,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.0,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.0,98.47,1.52,3772103

In [21]:
df[0:10:2]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376
6,Chhattisgarh,1187695,0,1173505,14190,0.0,98.81,1.19,28900667
8,Delhi,2040910,14,2014230,26666,0.0,98.69,1.31,773997

In [22]:
#we can access the dataframe using the column name
df["State/UTs"]

0                          Andaman and Nicobar
1                               Andhra Pradesh
2                            Arunachal Pradesh
3                                        Assam
4                                        Bihar
5                                   Chandigarh
6                                 Chhattisgarh
7     Dadra and Nagar Haveli and Daman and Diu
8                                        Delhi
9                                          Goa
10                                     Gujarat
11                                     Haryana
12                            Himachal Pradesh
13                           Jammu and Kashmir
14                                   Jharkhand
15                                   Karnataka
16                                      Kerala
17                                      Ladakh
18                                 Lakshadweep
19                              Madhya Pradesh
20                                 Maharashtra
21                                     Manipur
22                                   Meghalaya
23                                     Mizoram
24                                    Nagaland
25                                      Odisha
26                                  Puducherry
27                                      Punjab
28                                   Rajasthan
29                                      Sikkim
30                                  Tamil Nadu
31                                   Telengana
32                                     Tripura
33                               Uttar Pradesh
34                                 Uttarakhand
35                                 West Bengal
Name: State/UTs, dtype: object

In [23]:
df[["State/UTs","Total Cases"]]

                                   State/UTs  Total Cases
0                        Andaman and Nicobar        10766
1                             Andhra Pradesh      2340676
2                          Arunachal Pradesh        67049
3                                      Assam       746159
4                                      Bihar       855267
5                                 Chandigarh       100693
6                               Chhattisgarh      1187695
7   Dadra and Nagar Haveli and Daman and Diu        11592
8                                      Delhi      2040910
9                                        Goa       263346
10                                   Gujarat      1291383
11                                   Haryana      1078903
12                          Himachal Pradesh       322905
13                         Jammu and Kashmir       482023
14                                 Jharkhand       443826
15                                 Karnataka      4088769
16                                    Kerala      6907241
17                                    Ladakh        29602
18                               Lakshadweep        11415
19                            Madhya Pradesh      1056351
20                               Maharashtra      8171048
21                                   Manipur       140034
22                                 Meghalaya        96983
23                                   Mizoram       239560
24                                  Nagaland        36033
25                                    Odisha      1348409
26                                Puducherry       177547
27                                    Punjab       793644
28                                 Rajasthan      1326465
29                                    Sikkim        44927
30                                Tamil Nadu      3610655
31                                 Telengana       844432
32                                   Tripura       108493
33                             Uttar Pradesh      2145431
34                               Uttarakhand       452571
35                               West Bengal      2126282

In [24]:
df[["State/UTs","Total Cases"]][0:10:2]

             State/UTs  Total Cases
0  Andaman and Nicobar        10766
2    Arunachal Pradesh        67049
4                Bihar       855267
6         Chhattisgarh      1187695
8                Delhi      2040910

In [25]:
#iterrows--to access individual rows in dataframe
for record in df.iterrows():
    print(record)

(0, State/UTs          Andaman and Nicobar
Total Cases                      10766
Active                               0
Discharged                       10637
Deaths                             129
Active Ratio                       0.0
Discharge Ratio                   98.8
Death Ratio                        1.2
Population                   100896618
Name: 0, dtype: object)
(1, State/UTs          Andhra Pradesh
Total Cases               2340676
Active                          0
Discharged                2325943
Deaths                      14733
Active Ratio                  0.0
Discharge Ratio             99.37
Death Ratio                  0.63
Population              128500364
Name: 1, dtype: object)
(2, State/UTs          Arunachal Pradesh
Total Cases                    67049
Active                             0
Discharged                     66753
Deaths                           296
Active Ratio                     0.0
Discharge Ratio                99.56
Death Ratio                     0.44
Population                    658019
Name: 2, dtype: object)
(3, State/UTs           Assam
Total Cases        746159
Active                  5
Discharged         738119
Deaths               8035
Active Ratio          0.0
Discharge Ratio     98.92
Death Ratio          1.08
Population         290492
Name: 3, dtype: object)
(4, State/UTs             Bihar
Total Cases          855267
Active                    1
Discharged           842952
Deaths                12314
Active Ratio            0.0
Discharge Ratio       98.56
Death Ratio            1.44
Population         40100376
Name: 4, dtype: object)
(5, State/UTs          Chandigarh
Total Cases            100693
Active                      0
Discharged              99508
Deaths                   1185
Active Ratio              0.0
Discharge Ratio         98.82
Death Ratio              1.18
Population           30501026
Name: 5, dtype: object)
(6, State/UTs          Chhattisgarh
Total Cases             1187695
Active                        0
Discharged              1173505
Deaths                    14190
Active Ratio                0.0
Discharge Ratio           98.81
Death Ratio                1.19
Population             28900667
Name: 6, dtype: object)
(7, State/UTs          Dadra and Nagar Haveli and Daman and Diu
Total Cases                                           11592
Active                                                    0
Discharged                                            11588
Deaths                                                    4
Active Ratio                                            0.0
Discharge Ratio                                       99.97
Death Ratio                                            0.03
Population                                        231502578
Name: 7, dtype: object)
(8, State/UTs            Delhi
Total Cases        2040910
Active                  14
Discharged         2014230
Deaths               26666
Active Ratio           0.0
Discharge Ratio      98.69
Death Ratio           1.31
Population          773997
Name: 8, dtype: object)
(9, State/UTs              Goa
Total Cases         263346
Active                   3
Discharged          259329
Deaths                4014
Active Ratio           0.0
Discharge Ratio      98.47
Death Ratio           1.52
Population         3772103
Name: 9, dtype: object)
(10, State/UTs           Gujarat
Total Cases         1291383
Active                    5
Discharged          1280299
Deaths                11079
Active Ratio            0.0
Discharge Ratio       99.14
Death Ratio            0.86
Population         70400153
Name: 10, dtype: object)
(11, State/UTs          Haryana
Total Cases        1078903
Active                  27
Discharged         1068121
Deaths               10755
Active Ratio           0.0
Discharge Ratio       99.0
Death Ratio            1.0
Population         7503010
Name: 11, dtype: object)
(12, State/UTs          Himachal Pradesh
Total Cases                  322905
Active                            4
Discharged                   318660
Deaths                         4241
Active Ratio                    0.0
Discharge Ratio               98.69
Death Ratio                    1.31
Population                  3436948
Name: 12, dtype: object)
(13, State/UTs          Jammu and Kashmir
Total Cases                   482023
Active                             0
Discharged                    477231
Deaths                          4792
Active Ratio                     0.0
Discharge Ratio                99.01
Death Ratio                     0.99
Population                     66001
Name: 13, dtype: object)
(14, State/UTs          Jharkhand
Total Cases           443826
Active                     1
Discharged            438491
Deaths                  5334
Active Ratio             0.0
Discharge Ratio         98.8
Death Ratio              1.2
Population         124904071
Name: 14, dtype: object)
(15, State/UTs          Karnataka
Total Cases          4088769
Active                    12
Discharged           4048399
Deaths                 40358
Active Ratio             0.0
Discharge Ratio        99.01
Death Ratio             0.99
Population           1711947
Name: 15, dtype: object)
(16, State/UTs            Kerala
Total Cases         6907241
Active                   18
Discharged          6835181
Deaths                72042
Active Ratio            0.0
Discharge Ratio       98.96
Death Ratio            1.04
Population         91702478
Name: 16, dtype: object)
(17, State/UTs           Ladakh
Total Cases          29602
Active                   0
Discharged           29371
Deaths                 231
Active Ratio           0.0
Discharge Ratio      99.22
Death Ratio           0.78
Population         4184959
Name: 17, dtype: object)
(18, State/UTs          Lakshadweep
Total Cases              11415
Active                       0
Discharged               11363
Deaths                      52
Active Ratio               0.0
Discharge Ratio          99.54
Death Ratio               0.46
Population            11700099
Name: 18, dtype: object)
(19, State/UTs          Madhya Pradesh
Total Cases               1056351
Active                          0
Discharged                1045565
Deaths                      10786
Active Ratio                  0.0
Discharge Ratio             98.98
Death Ratio                  1.02
Population               14999397
Name: 19, dtype: object)
(20, State/UTs          Maharashtra
Total Cases            8171048
Active                     214
Discharged             8022276
Deaths                  148558
Active Ratio               0.0
Discharge Ratio          98.18
Death Ratio               1.82
Population              399001
Name: 20, dtype: object)
(21, State/UTs           Manipur
Total Cases          140034
Active                    0
Discharged           137885
Deaths                 2149
Active Ratio            0.0
Discharge Ratio       98.47
Death Ratio            1.53
Population         47099270
Name: 21, dtype: object)
(22, State/UTs          Meghalaya
Total Cases            96983
Active                     3
Discharged             95352
Deaths                  1628
Active Ratio             0.0
Discharge Ratio        98.32
Death Ratio             1.68
Population          79502477
Name: 22, dtype: object)
(23, State/UTs          Mizoram
Total Cases         239560
Active                   1
Discharged          238825
Deaths                 734
Active Ratio           0.0
Discharge Ratio      99.69
Death Ratio           0.31
Population         1308967
Name: 23, dtype: object)
(24, State/UTs          Nagaland
Total Cases           36033
Active                    0
Discharged            35251
Deaths                  782
Active Ratio            0.0
Discharge Ratio       97.83
Death Ratio            2.17
Population         38157311
Name: 24, dtype: object)
(25, State/UTs            Odisha
Total Cases         1348409
Active                   59
Discharged          1339135
Deaths                 9215
Active Ratio            0.0
Discharge Ratio       99.31
Death Ratio            0.68
Population         19301096
Name: 25, dtype: object)
(26, State/UTs          Puducherry
Total Cases            177547
Active                      0
Discharged             175566
Deaths                   1981
Active Ratio              0.0
Discharge Ratio         98.88
Death Ratio              1.12
Population            2073074
Name: 26, dtype: object)
(27, State/UTs            Punjab
Total Cases          793644
Active                 1233
Discharged           773073
Deaths                19338
Active Ratio           0.16
Discharge Ratio       97.41
Death Ratio            2.44
Population         34698876
Name: 27, dtype: object)
(28, State/UTs          Rajasthan
Total Cases          1326465
Active                     2
Discharged           1316727
Deaths                  9736
Active Ratio             0.0
Discharge Ratio        99.27
Death Ratio             0.73
Population           1521992
Name: 28, dtype: object)
(29, State/UTs            Sikkim
Total Cases           44927
Active                    4
Discharged            44422
Deaths                  501
Active Ratio           0.01
Discharge Ratio       98.88
Death Ratio            1.12
Population         83697770
Name: 29, dtype: object)
(30, State/UTs          Tamil Nadu
Total Cases           3610655
Active                      5
Discharged            3572569
Deaths                  38081
Active Ratio              0.0
Discharge Ratio         98.95
Death Ratio              1.05
Population           35998752
Name: 30, dtype: object)
(31, State/UTs          Telengana
Total Cases           844432
Active                     8
Discharged            840313
Deaths                  4111
Active Ratio             0.0
Discharge Ratio        99.51
Death Ratio             0.49
Population          69599762
Name: 31, dtype: object)
(32, State/UTs          Tripura
Total Cases         108493
Active                   1
Discharged          107550
Deaths                 942
Active Ratio           0.0
Discharge Ratio      99.13
Death Ratio           0.87
Population         1646050
Name: 32, dtype: object)
(33, State/UTs          Uttar Pradesh
Total Cases              2145431
Active                        57
Discharged               2121662
Deaths                     23712
Active Ratio                 0.0
Discharge Ratio            98.89
Death Ratio                 1.11
Population               1158040
Name: 33, dtype: object)
(34, State/UTs          Uttarakhand
Total Cases             452571
Active                       0
Discharged              444803
Deaths                    7768
Active Ratio               0.0
Discharge Ratio          98.28
Death Ratio               1.72
Population            85002417
Name: 34, dtype: object)
(35, State/UTs          West Bengal
Total Cases            2126282
Active                     135
Discharged             2104592
Deaths                   21555
Active Ratio              0.01
Discharge Ratio          98.98
Death Ratio               1.01
Population            32199722
Name: 35, dtype: object)

In [26]:
#LOC[](stop index included)

In [27]:
df.loc[1]  #display the first row

State/UTs          Andhra Pradesh
Total Cases               2340676
Active                          0
Discharged                2325943
Deaths                      14733
Active Ratio                  0.0
Discharge Ratio             99.37
Death Ratio                  0.63
Population              128500364
Name: 1, dtype: object

In [28]:
df.loc[19,["State/UTs","Total Cases"]]  #displays the 19th row state name and cases

State/UTs      Madhya Pradesh
Total Cases           1056351
Name: 19, dtype: object

In [29]:
df.loc[0:5]  #includes the stop index also

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.0,98.82,1.18,30501026

In [30]:
#if we are using iloc then stop index will not be included
df.iloc[0:5]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376

In [31]:
df.loc[0:5,["State/UTs","Discharged"]]

             State/UTs  Discharged
0  Andaman and Nicobar       10637
1       Andhra Pradesh     2325943
2    Arunachal Pradesh       66753
3                Assam      738119
4                Bihar      842952
5           Chandigarh       99508

In [32]:
df.loc[0:4,"State/UTs":"Discharge Ratio"]   #displays first 4 rows from states coulumn to discharged ratio

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56
3,Assam,746159,5,738119,8035,0.0,98.92
4,Bihar,855267,1,842952,12314,0.0,98.56

In [33]:
#understanding loc
'''
data_frame.loc[row_number]
data_frame.loc[row_number,[coumn_name---]]
data_frame.loc[start:stop]
data_frame.loc[start:stop,"column_name"]
data_frame.loc[start:stop,[coumn1,column2---]]
data_frame.loc[start:stop,"column1":"coulumn2"]'''

'\ndata_frame.loc[row_number]\ndata_frame.loc[row_number,[coumn_name---]]\ndata_frame.loc[start:stop]\ndata_frame.loc[start:stop,"column_name"]\ndata_frame.loc[start:stop,[coumn1,column2---]]\ndata_frame.loc[start:stop,"column1":"coulumn2"]'

In [34]:
#iloc---

In [35]:
df.iloc[0:4]  #end index is not included

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492

In [36]:
df.iloc[2,0]

'Arunachal Pradesh'

In [37]:
#in iloc columns are accessed by index values where as in loc coulmns are accessed by its name

In [38]:
df.iloc[0:5,0:3]  #displays the 0-4 rows and 0-2 columns

             State/UTs  Total Cases  Active
0  Andaman and Nicobar        10766       0
1       Andhra Pradesh      2340676       0
2    Arunachal Pradesh        67049       0
3                Assam       746159       5
4                Bihar       855267       1

In [39]:
df.iloc[0:4,2]

0    0
1    0
2    0
3    5
Name: Active, dtype: int64

In [40]:
df.iloc[[1,2,3]]  #3 rows will be displayed

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492

In [41]:
df.iloc[[1,5,6,2]]  #print 1st 5th 6th 2nd rows

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
5,Chandigarh,100693,0,99508,1185,0.0,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.0,98.81,1.19,28900667
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019

In [42]:
df.iloc[:,[1,2,5]]

    Total Cases  Active  Active Ratio
0         10766       0          0.00
1       2340676       0          0.00
2         67049       0          0.00
3        746159       5          0.00
4        855267       1          0.00
5        100693       0          0.00
6       1187695       0          0.00
7         11592       0          0.00
8       2040910      14          0.00
9        263346       3          0.00
10      1291383       5          0.00
11      1078903      27          0.00
12       322905       4          0.00
13       482023       0          0.00
14       443826       1          0.00
15      4088769      12          0.00
16      6907241      18          0.00
17        29602       0          0.00
18        11415       0          0.00
19      1056351       0          0.00
20      8171048     214          0.00
21       140034       0          0.00
22        96983       3          0.00
23       239560       1          0.00
24        36033       0          0.00
25      1348409      59          0.00
26       177547       0          0.00
27       793644    1233          0.16
28      1326465       2          0.00
29        44927       4          0.01
30      3610655       5          0.00
31       844432       8          0.00
32       108493       1          0.00
33      2145431      57          0.00
34       452571       0          0.00
35      2126282     135          0.01

In [43]:
df.iloc[0:5,[1,2,5]]

   Total Cases  Active  Active Ratio
0        10766       0           0.0
1      2340676       0           0.0
2        67049       0           0.0
3       746159       5           0.0
4       855267       1           0.0

In [44]:
#understanding iloc---
'''
data_frame.iloc[row_number,column_number]
data_frame.iloc[row_start:row_stop,col_start:col_stop]
data_frame.iloc[start:stop,column_name]
data_frame.iloc[[row1,row2,--]]
data_frame.iloc[:,[column1,column2,--]]
data_frame.iloc[start:stop,[coulumn1,column2--]]'''

'\ndata_frame.iloc[row_number,column_number]\ndata_frame.iloc[row_start:row_stop,col_start:col_stop]\ndata_frame.iloc[start:stop,column_name]\ndata_frame.iloc[[row1,row2,--]]\ndata_frame.iloc[:,[column1,column2,--]]\ndata_frame.iloc[start:stop,[coulumn1,column2--]]'

In [45]:
#sorting the dataframe

In [46]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [47]:
df.sort_values("Total Cases")  #sorts the dataframe based on ascending order of total cases

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001

In [48]:
df.sort_values("Total Cases",ascending=False)  #sortes the dataframe based on total cases in descending order

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618

In [49]:
df.sort_values(["State/UTs","Total Cases"])  #priority will be given to first coulumn1

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [50]:
#sorting syntax
'''
data_frame.sort_values("coulumn_name")
data_frame.sort_values("coulumn_name",ascending=False)
data_frame.sort_values(["column1",column2])'''

'\ndata_frame.sort_values("coulumn_name")\ndata_frame.sort_values("coulumn_name",ascending=False)\ndata_frame.sort_values(["column1",column2])'

In [51]:
#manuplating dataframe

In [52]:
#adding a coulumn_name
df["Total"]=0

In [53]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,0
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,0
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,0
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,0
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,0
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,0
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,0
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,0
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,0
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,0
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,0
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,0
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,0
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,0
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,0
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,0
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,0
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,0
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,0
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,0
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,0
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,0
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,0
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,0
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,0
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,0
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,0
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,0
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,0
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,0
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,0
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,0
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,0
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,0
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,0
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,0

In [54]:
df["Total"]=df["Total Cases"]+df["Active"]

In [55]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417

In [56]:
#deleting a coulmn

In [57]:
df["status"]="haelaty/unhealthy"

In [58]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164,haelaty/unhealthy
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602,haelaty/unhealthy
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986,haelaty/unhealthy
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [59]:
df.drop(columns="status")  #the status coulumn will be deleted temprarily

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417

In [60]:
df  #again it will shows the coulmn

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164,haelaty/unhealthy
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602,haelaty/unhealthy
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986,haelaty/unhealthy
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [61]:
df.drop(columns="status",inplace=True) if we keep inplace the changes will be applied to dataframe permenantly

SyntaxError: expected 'else' after 'if' expression (1295709402.py, line 1)

In [62]:
df #now the dataframe is deleted

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164,haelaty/unhealthy
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602,haelaty/unhealthy
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986,haelaty/unhealthy
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [63]:
#remove duplicates

In [64]:
#to check whether the dataframe consist of duplicates or not
df.duplicated()   #no repeatation is present

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
dtype: bool

In [65]:
df.drop_duplicates(inplace=True)  #delete the duplicate rows

In [66]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164,haelaty/unhealthy
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602,haelaty/unhealthy
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986,haelaty/unhealthy
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [67]:
#handling missing data

In [68]:
df.dropna(inplace=True)   #This removes all rows that contain at least one NaN value.

In [69]:
#fill with default values
df.fillna(4)  #if there is any missing value the value will be filled with  4

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,746164,haelaty/unhealthy
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,855268,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,263349,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,322909,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,29602,haelaty/unhealthy
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11415,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,96986,haelaty/unhealthy
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,239561,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,177547,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,44931,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,108494,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [71]:
#simple consdition
df.loc[df["Total Cases"]>1000000]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,1187695,haelaty/unhealthy
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,2040924,haelaty/unhealthy
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,1291388,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,6907259,haelaty/unhealthy
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,1056351,haelaty/unhealthy
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,8171262,haelaty/unhealthy
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,1348468,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,3610660,haelaty/unhealthy
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,2145488,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [73]:
#compound condition
df.loc[(df["Total Cases"]>60000) & (df["Total Cases"]<100000)]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019,67049,haelaty/unhealthy
22,Meghalaya,96983,3,95352,1628,0.0,98.32,1.68,79502477,96986,haelaty/unhealthy

In [75]:
#string condition
df.loc[df["State/UTs"].str.contains("n")]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,67049,haelaty/unhealthy
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,100693,haelaty/unhealthy
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,11592,haelaty/unhealthy
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,1078930,haelaty/unhealthy
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,482023,haelaty/unhealthy
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,443827,haelaty/unhealthy
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,4088781,haelaty/unhealthy
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,140034,haelaty/unhealthy
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,36033,haelaty/unhealthy
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1326467,haelaty/unhealthy
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,844440,haelaty/unhealthy
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,452571,haelaty/unhealthy
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,2126417,haelaty/unhealthy

In [80]:
df.loc[df["State/UTs"].str.startswith("A")]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618,10766,haelaty/unhealthy
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364,2340676,haelaty/unhealthy
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019,67049,haelaty/unhealthy
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492,746164,haelaty/unhealthy

In [82]:
df.loc[df["State/UTs"].str.endswith("b")]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total,status
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,794877,haelaty/unhealthy